<p><img src="http://placehold.jp/1200x600.png" class="img-fluid" alt="Responsive image"></p>

<section>
  <h1 class="sectionTitle">Ranking</h1>

  <div class="card-group">
  <div class="card">
  <a href="#">
    <img class="card-img-top" src="http://placehold.jp/1200x800.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">名前</h2>
      <h3 class="card-text">10000票</h3>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </a>
  </div>
  <div class="card">
  <a href="#">
    <img class="card-img-top" src="http://placehold.jp/1200x800.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">名前</h2>
      <h3 class="card-text">10000票</h3>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </a>
  </div>
  <div class="card">
  <a href="#">
    <img class="card-img-top" src="http://placehold.jp/1200x800.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">名前</h2>
      <h3 class="card-text">10000票</h3>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </a>
  </div>
</div>
</section>