/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 吹き出し本体 */
p.speech{
  position: relative;
  width: 500px;
  padding: 20px;
  background-color: #FEFCFD;
  border: 2px solid #46ACC2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}

/* アイコンを左に表示 */
p.speech::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 15px;
  border-right: 15px solid #46ACC2;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
p.speech::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 15px;
  border-right: 15px solid #FEFCFD;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
